@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: only dark;
	-webkit-tap-highlight-color: transparent;
}

.sups {
	position: relative;
	top: -0.5em;
	font-size: 80%;
	font-weight: inherit;
}

body {
	overflow-x: hidden;
}

@layer components {
	article {
		@apply prose prose-invert max-w-2xl text-justify prose-headings:text-left prose-h1:text-center;
	}
}

.min56rem {
	width: min(56rem, 100%);
}
