@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

html,
body {
	@apply h-full overflow-hidden;
}
h1 {
	@apply text-5xl font-bold;
}
h2 {
	@apply text-2xl font-bold;
}
h3 {
	@apply text-xl font-bold;
}
h4 {
	@apply text-lg font-bold;
}
h5 {
	@apply text-base font-bold;
}
h6 {
	@apply text-base font-bold;
}
