@import '@fontsource/lexend/100.css';
@import '@fontsource/lexend/200.css';
@import '@fontsource/lexend/300.css';
@import '@fontsource/lexend/400.css';
@import '@fontsource/lexend/500.css';
@import '@fontsource/lexend/600.css';
@import '@fontsource/lexend/700.css';
@import '@fontsource/lexend/800.css';
@import '@fontsource/lexend/900.css';


:root {
	color-scheme: only dark;
	-webkit-tap-highlight-color: transparent;
}

.sups {
	position: relative;
	top: -0.5em;
	font-size: 80%;
	font-weight: inherit;
}

body {
	overflow-x: hidden;
}


.min56rem {
	width: min(56rem, 100%);
}
